



video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/sport.jpg) no-repeat;
    background-size: cover;
}



#banner {
  color:white;
  text-align:center;
  background: black;
  position: fixed;
  width: 259px;
  height: 194px;
  top: 30%;
  left: 42%;
  border: 2px solid;
  border-radius: 25px;
  border-color: black;
  background-image: url("img/metalbanner.jpg");
  background-size:  contain;
  background-repeat: no-repeat;

}


h1{
  font-family: 'Anton', sans-serif;
  height: 90px;
  line-height: 90px;
  letter-spacing: 2px;
}


.footer {
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-image: url("img/metalfooter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
